@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;500&display=swap');

/*--------------- Global ---------------*/

:root {
    --grey: #B4BEC9;
    --blue-green: #159A9C;
    --black-blue: #002333;
    --green-white: #DEEFE7;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline;
    color: var(--black);
}

.home-body {
    position: fixed;
}

.grid__container {
    max-width: 980px;
    margin: auto;
}

/*--------------- home ---------------*/

.header {
    width: 100vw;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header__section {
    width: 100vw;
    height: 50px;
    display: grid;
    background-color: var(--blue-green);
}

.header__icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.header__icons span {
    color: var(--white);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}

.nav__section {
    margin-left: 20px;
}

.nav__section img {
    width: 230px;
    margin-top: 10px;
}

.profile__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

.btn__biografia{
    width: 80px;
    text-align: center;
    color: var(--blue-green);
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    border: 1px solid var(--blue-green);
    border-radius: 15px;
}

.btn__uno{
    display: none;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/img/post-3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main__section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 266px;
}

.main__section img {
    margin: 60px 0 15px;
    width: 300px;
}

.main__p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    color: var(--black);
    text-align: center;
    color: var(--white);
}

.main__btn {
    width: 150px;
    height: 50px;
    background: var(--blue-green);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    border-radius: 15px;
    border: none;
}

/*--------------- Blog Page ---------------*/

.main__blogs {
    display: grid;
}

.blogs__header{
    background-color: var(--green-white);
    padding: 0 50px 40px;
}

.blogs-posts__section {
    text-align: center;
}

.blogs-header__img{
    text-align: center;
}

.blogs-header__img img {
    width: 85%;
}

.blogs-header__info p {
    margin-bottom: 35px;
}

.blogs-posts__container {
    padding: 0 50px 40px;
    display: flex;
    align-content: center;
}

.blogs-posts__container h3 {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 20px;
    text-align: center;
}

.blogs-header__button {
    border: 1px solid var(--blue-green);
    padding: 10px 15px;
    font-size: 12px;
}

.post__container {
    display: inline-block;
    padding-left: auto;
    max-width: 30%;
    margin: 0 10px 50px 10px;
}

.post__container p {
    margin-bottom: 35px;
}

.post__container img {
    width: 100%;
}

/*--------------- Blogpost ---------------*/

.blogpost__img {
    background: var(--grey);
    padding: 0 50px 40px;
}

.blogpost__img img {
    margin-top: 20px;
    width: 100%;
}

.blogpost__article {
    padding: 0 50px 40px;
}

.blogpost__article h3 {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 20px;
}

.blogpost__article div h1 {
    font-size: 35px;
}

/*--------------- perfil ---------------*/

.profile__main {
    padding: 40px 40px;
    background-color: var(--grey);
    margin-bottom: 50px;
}

.profile__main img {
    width: 320px;
    margin-right: 30px;
    border-radius: 25px;
}

.profile__container {
    display: flex;
}

.proyects__article {
    padding: 0 50px 40px;
}

.proyects__article h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 35px;
    text-align: center;
}

.proyects__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.proyect__container {
    padding: 0 5px;
}

/*--------------- Contact ---------------*/

.contact__container {
    display: flex;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    height: 200px;
}

.contact__container section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 500px;
    align-self: center;
}

.contact__container img {
    width: 100px;
    margin: 0 20px;
}

.contact__left {
    justify-items: center;
    margin: 0 20px;
}

.contact__right {
    justify-items: center;
    margin: 0 20px;
}

.contact__container section div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn__contact {
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

/*--------------- Footer ---------------*/

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid var(--blue-green);
    text-align: center;
}

footer p {
    color: var(--white);
    margin-top: 30px;
}