:root {
    --grey: #B4BEC9;
    --blue-green: #159A9C;
    --black-blue: #002333;
    --green-white: #DEEFE7;
    --white: #FFFFFF;
    --black: #000000;
}

@media(max-width: 900px) {
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }

    .blogs-header__img {
        grid-row: 2;
    }

    .blogs-header__info {
        grid-column: 1;
        grid-row: 3;
    }

    .blogs-header__img img {
        width: 85%;
    }

    .post__container {
        max-width: 45%;
    }

    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .profile-main-container .profile-container {
        display: block;
    }

    .profile-container {
        align-items: center;
    }

    .profile-container img {
        width: 100%;
    }
}

@media (max-width:600px) {
    .header__icons{
        width: 350px;
    }

    .btn__biografia{
        color: var(--white);
        border: 1px solid var(--white);
    }

    .btn__uno{
        display: block;
    }

    .btn__dos{
        display: none;
    }

    .main__section img {
        width: 200px;
    }

    .post__container {
        width: 410px;
        max-width: 95%;
    }
}